/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}

.logo h1 {
  font-size: 35px;
  font-weight: 900;

}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(246, 246, 246, 0.808);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #0e2d5e;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #0e2d5e;
}
.start {
  background-color: #0e2d5e;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 830px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background: #0e2d5e;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
   position:absolute;
    top: 9vh;
    text-align: center;
    left: 0px;
    width: 100%;
    background:#fff
    
  }

.social{
  margin-left: -60px;
  text-wrap: nowrap;
 
}
header ul li a {
  color: #0e2d5e;
  font-weight: 500;
  transition: 0.5s;
}
.logo span{
  font-size: 15px;
  text-wrap: nowrap;
}
.logo h1{
  width: 10px !important;
}
}