/*--------head------------*/

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(24, 0, 0, 0.7);
  filter: blur(100px);
  z-index: 0;
}
.head {
  padding: 20px 0;
  background: #370101;
}

.lgimg{
 width: 170px;
margin-top: 0px;

}

.logo h1 {
  font-size: 35px;
  font-weight: 900;
  color: inherit;
  color: #fff;
}


.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: #fff;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #0e2d5e;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: #0e2d5e;
}
.start {
  /* background-color: #110502; */
  background: linear-gradient(90deg,#ceaea6 0%,rgba(25,55,109,0)100%);
  padding: 35px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 830px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background: #1a0101;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -30px;
  }
  .mobile-nav {
   position:absolute;
    top: 9vh;
    text-align: end;
    left: 195px;
    width: 50%;
    margin-top: 20px;
    background:#111315
    
  }
.lgimg{
 width: 150px;
margin-top: 0px;

}
.social{
  margin-left: -60%;
  text-wrap: nowrap;
 
 
}
header ul li a {
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}
.logo span{
  font-size: 15px;
  text-wrap: nowrap;
}
.logo h1{
  width: 10px !important;
}

.social .icon{
  width: 32px;
  height: 33px;
  line-height: 35px;
  margin-left: 5px;

}
}