@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutHome .items {
  opacity: 0; 
  transform: translateX(-100px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.aboutHome .items.visible {
  opacity: 1; 
  transform: translateX(0);
}

.set .aboutHome{
  margin-top: 260px;
}

.aboutHome .container{
  height: auto;
  margin-top: -250px;
  }

  .skill{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
  }
.code {
  color: #fff;
  margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg,#4b2b24 0%,rgba(25,55,109,0)100%);
    padding: 10px;
    border-radius: 3%;
}
.code h2{
  margin-bottom: 30px;
}

.code ul {
  list-style-type: disc !important;
  padding-left: 20px;
 
}

.code ul li {
  list-style-type: disc;
  display: list-item;
}




.aboutHome #heading {
  text-align: left;
  padding: 0;
  color:#fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 80px 50px;
}
.aboutHome .items {
  margin-top: 40px;
  
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 4%;
  box-sizing: border-box;
  padding: 20px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(253, 250, 250);
  background: linear-gradient(90deg, #6d4545 0%, rgba(25,55,109,0) 100%);
}
.aboutHome .item p {
  color: #080000;
}
.aboutHome .item:hover {
  background-color: #FEE7EB;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.aboutHome .item:hover p {
  color: #370101;;
}
/*----------awrapper------------*/
/* .awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #fff;
} */
.awrapper .box {
  padding: 70px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 50px;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}
/* Fixed Left-to-Right Animation */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 1.2s ease forwards;
}

/* Optional: Scroll-in from bottom */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease forwards;
}

  @keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.code-appear {
  animation: slideUpFadeIn 1s ease forwards;
}

/* Default code box before animation */
.code {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
/*----------awrapper------------*/
@media screen and (max-width: 830px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  
      height: auto;
      margin-top: 0px;
      
  }
  .ben{
    margin-top: 260px;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 50vh;
  }
}
.aboutHome .right {
  padding: 10px 10px;
  margin-top: 50%;
}
.aboutHome{
  margin-top: -10px;
}
@media only screen and (max-width: 400px) {
  .aboutHome .right {
    padding: 10px 10px;
    margin-top: 0px;
  }
}