

.hprice-padding{
  background-color: #0e2d5e;
}
.price {
  background-color: #0e2d5e;
}
.price .items {
  padding: 23px;
  text-align: center;
  border-radius:  25px;
  border: 1.5px solid rgb(59, 124, 206);
 
}
.h1{
 background-color: #fff;
}
  
 .hprice-padding h1{
  color: #fff;
}
.price .items{
  margin-bottom: 20px;
 }

.price h1 {
  font-size: 50px;
  margin: 20px 0;
  color: #0e2d5e;
}
.price h1 span {
  font-size: 20px;
  margin-right: 5px;
  color: #000;}
 
  @keyframes cardAppear {
    from {
      opacity: 0;
      transform: translateY(100px); /* Start from 100px below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Move to the original position */
    }
  }
  
   .price .items{
    opacity: 0;
    transform: translateY(100px); 
    animation-fill-mode: both; 
    animation-duration: 1000ms; 
    animation-delay: 400ms; 
    animation-iteration-count: 1; 
    animation-name: cardAppear;
  }
  .items h1{
    font-size: 30px;
  }
.price p {
  color: #000;
  margin: 20px 0;
  font-weight: 600;
  margin-top: -10px;
}
/*--------------faq-------------*/
.faq .container {
  max-width: 85%;
  border-radius: 5px;
}
.faq .box {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.faq button {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
}
.faq h2 {
  font-weight: 500;
}
.faq p {
  padding: 10px;
}
.faq .accordion:hover {
  background-color: #370101;;
  color: #fff;
}


/*--------------faq-------------*/
@media screen and (max-width: 830px) {
  .container.grid{
    margin-right: 30px;
    padding-bottom: 20px;
    display: block;
  }
  
  .price {
    display: block; /* Stacking items in mobile view */
  } 

  .price .items {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Add space between cards */
  }

  .faq h2{
    font-size: 18px;
  }
 } 
 @media only screen and (max-width: 385px) {
  .faq h2{
    font-size: 14px;
  }
 }